body
{
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: white;
}
.wwwl_login
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 400px;
  padding: 40px;
}
.wwwl_login h1
{
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 0px;
  padding: 0;
  color: #000;
  text-align: center;
}
.wwwl_login h3
{
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 30px;
  padding: 0;
  color: #000;
  text-align: center;
}
.wwwl_login .ibox
{
  position: relative;
}
.wwwl_login .ibox input
{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  background: transparent;
}
.wwwl_login .ibox label
{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
}
.wwwl_login .ibox input:focus ~ label,
.wwwl_login .ibox input:valid ~ label
{
  top: -18px;
  left: 0;
  color: #fff;
  font-size: 12px;
  transition: .1s;
}
.amdbut
{
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: 50;
  font-size: 18px;
  text-align: center;
  border: solid 2px #000;
  padding: 5px 40px;
  text-decoration: inherit;
}
.amdbut:hover
{
  transition-duration: 300ms;
  background-color: #000;
  color: #fff;
}
